@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.12.1/r-2.3.0/sc-2.0.7/sl-1.4.0/datatables.min.css"/>
 


<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAdd" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddTitle">Registrando Estudiante</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group d-none" id="idGroup">
                <label for="idStudend">Id</label>
                <input type="text" class="form-control" readonly id="idStudent">    
           </div>

            <div class="form-group">
                <label for="NombreAdd">Nombre</label>
                <input type="text" class="form-control" id="NombreAdd">    
           </div>

           <div class="form-group">
                <label for="ApellidoAdd">Apellido</label>
                <input type="text" class="form-control" id="ApellidoAdd">    
           </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" id="btnGuardar" class="btn btn-success" onclick="inserStudent()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-success" onclick="showModalAdd()" type="button">Agregar Estudiante</button>
<hr />

<table id="student" class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th width="200"></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>



@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.12.1/r-2.3.0/sc-2.0.7/sl-1.4.0/datatables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/student.js"></script>
}